:root {
    --dark-blue: #182B61;
    --medium-blue: #475FA2;
    --yellow: #FFF212;
    --gray: #6D7280;
    --text-sm: 16px;
    --text-md: 20px;
    --text-lg: 24px;
    --text-xl: 32px;

}
.btn{
    border-radius: 10px;
    padding: 2% 5%;
}

.btn--darkblue {
    background-color: var(--dark-blue);
    border: none;
    color: white;
}

.btn--darkblue:hover {
    background-color: var(--medium-blue);
    border: none;
    color: white;
}

.btn--mediumblue {
    background-color: var(--medium-blue);
    border: none;
    color: white;
}

.btn--mediumblue:hover {
    background-color: white;
    border: none;
    color: var(--medium-blue);
}

.btn--yellow {
    background-color: var(--yellow);
    border: none;
    color: var(--dark-blue);
}

.btn--yellow:hover {
    background-color: var(--dark-blue);
    border: none;
    color: var(--yellow);
}
.btn--square {
    height: 40px;
    width: 40px;
}

.a--darkBlue {
    color: var(--dark-blue) !important;
}

.a--darkBlue:hover {
    color: var(--medium-blue) !important;
}

.text--darkBlue {
    color: var(--dark-blue);
}

.text--mediumBlue {
    color: var(--medium-blue);
}

.text--yellow {
    color: var(--yellow);
}
.text--gray {
    color: var(--gray);
}

.text--sm {
    font-size: var(--text-sm);
}

.text--md {
    font-size: var(--text-md);
}

.text--lg {
    font-size: var(--text-lg);
}

.text--xl {
    font-size: var(--text-xl);
}

.grid--2cols {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

@media (max-width: 990px) {
    .grid--2cols {
        grid-template-columns: 1fr;
    }
}